[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content:left;
    list-style-type: none;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  .tab.active {
    border-top-width: .25rem;
    border-left-width: .25rem;
    border-right-width: .25rem;
  }

  .tab:not(.active){
    background-color: #d6dbdb;
    color: #9cbac9;
  }
  
  .tab:hover {
    background-color: #AAA;
  }
  
  .tab-content {
  }
  
  
  
  
  
  
  
  
  