#Ignore things generated at build time:
/resources/_gen
/dist
/build

#Don't store things that should be generated on build
/data

#Credentials
config.json

#Backup Markdown Files
*.markdown~
*.md~

#logs
logs
*.log
*.logs

#Don't commit node modules to git
/node_modules
package-lock.json

#old blog export files
utilityScripts/moveOld/draft
utilityScripts/moveOld/post
utilityScripts/moveOld/uploads
utilityScripts/moveOld/pages
dummy-post
bad-post*
backup-post

#Development Media Files
/dev-resources