#Ignore things generated at build time:
/resources/_gen
/dist
/build

#Credentials

#Backup Markdown Files
*.markdown~
*.md~

#logs
logs
*.log
*.logs

#Don't commit node modules to git
/node_modules
package-lock.json

#old blog export files
utilityScripts/
utilityScripts/
utilityScripts/
utilityScripts/moveOld/draft
utilityScripts/moveOld/post
utilityScripts/moveOld/uploads
dummy-post
bad-post*
backup-post

#Development Media Files
/dev-resources

#Credentails
*config.py*
