section {
    color: #333;
}


.left{
    left: 5%;
    text-align: left;
}

.right{
    right: 5%;
    text-align: right;
}

section h2 {
    text-decoration: underline;
}

.twocolumn {
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
}

.code {
    display: inline; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    background-color: hsl(220, 13%, 85%); 
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
    border-radius: 1rem;
}

.inline-code{
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}