{{ define "main" }}
    {{ partial "header.html" }}
    <main class="pt-16">
        <div id='map' style='width: 75%; height: 800px; margin: auto'></div>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiamVmZmdsYXNzIiwiYSI6ImNreXN4azlmajB5d3YyeHMybWhsOHJobWUifQ.K_NSFBDGy9cLl5cnY_w7Ig';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-95, 40],
            zoom: 4
          });

          //const marker1 = new mapboxgl.Marker().setLngLat([-87, 42]).addTo(map)
        map.on('load', () => {
        // Add the vector tileset as a source.
            map.addSource('points', {
                type: 'geojson',
                data: '/geojson/k-potafeatures-2022-01-24.geojson'
            });
            map.addLayer({
                'id': 'parks',
                'type': 'circle',
                'source': 'points',
                'paint': {
                    "circle-radius": {
                        "base" : 4,
                        "stops": [
                            [7, 4],
                            [11, 20]
                        ]
                    },
                    "circle-stroke-color":
                    [
                        'match',
                        ['get', 'activated'],
                        "False",
                        "#713f12",
                        "True",
                        "#3f6212",
                        "#06b6d4"
                    ],
                    "circle-stroke-width": 2,
                    "circle-color": [
                        'match',
                        ['get', 'activated'],
                        "False",
                        "#d97706",
                        "True",
                        "#65a30d",
                        "#1d4ed8"
                    ]
                }
            });
        });
        //"circle-color": "#65a30d",
        </script>
    </main>
    {{ partial "footer.html" }}
{{ end }}