<article class="w-full p-1 md:w-20-1">
	<div class="h-full p-2 bg-gray-100 border-2 border-gray-300 rounded-3xl drop-shadow-xl">
        {{ if isset .Params "static_slug" }}
            <a href="{{ .Permalink }}"><img id="staticslug" src="{{ .Params.static_slug }}" alt="" class="object-scale-down w-full border-2 border-gray-400 rounded-3xl h-36 bg-pygray"></a>
        {{ else if isset .Params "slug_image" }}
            {{ $img := (.Page.Resources.GetMatch .Params.slug_image) }}
            <a href="{{ .Permalink }}"><img src="{{ $img.RelPermalink }}" alt="" class="object-scale-down w-full border-2 border-gray-400 rounded-3xl h-36 bg-pygray"></a>
        {{ else }}
            <a href="{{ .Permalink }}"><img src="/svg/notfound.svg" class="object-scale-down w-full border-2 border-gray-400 rounded-3xl h-36 bg-pygray"></a>
        {{ end }}
        <h1 class="text-center"><a href="{{ .Permalink }}" class="text-xl font-bold">{{ .Title }}</a></h1>
        <p class="italic text-center">Posted: <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date | time.Format ":date_long" }}</time></p>
        <div class="pt-3 text-sm text-center align-bottom">
                {{ if .Slug}}
                    {{ .Slug }}
                {{ else }}
                    {{ with .Params.tags }}
                        <span>Tags:</span>
                        {{ range . }}
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    {{ else }}
                    <span>Tags: None</span>
                    {{ end }}
                {{ end }}
        </div>
    </div>
</article> 