<article class="flex-grow w-96">
	<div class="p-2 m-1 border-2 border-gray-100 rounded-lg h-96 bg-gray-50 drop-shadow-xl">
        {{ if isset .Params "static_slug" }}
            <img id="staticslug" src="{{ .Params.static_slug }}" alt="" class="float-right object-cover h-full ml-2 border-2 border-gray-400 rounded-3xl w-36">
        {{ else if isset .Params "slug_image" }}
            {{ $img := (.Page.Resources.GetMatch .Params.slug_image) }}
            <img src="{{ $img.RelPermalink }}" alt="" class="float-right object-cover h-full ml-2 border-2 border-gray-400 rounded-3xl w-36">
        {{ else }}
            <img src="/svg/notfound.svg" class="float-right object-cover h-full ml-2 border-2 border-gray-400 rounded-3xl w-36">
        {{ end }}
        <h1><a href="{{ .Permalink }}" class="text-2xl">{{ .Title }}</a></h1>
        <p>Last updated <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006 15:04" }}</time></p>
        {{ range .Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}

        <div class="h-24 col-span-2 overflow-hidden">
                {{ if .Slug}}
                    {{ .Slug }}
                {{ else }}
                    {{ .Summary }}
                    {{ if .Truncated }}
                        <a href="{{ .Permalink }}">Read more...</a>
                    {{ end }}
                {{ end }}
        </div>
    </div>
</article> 