{{ define "main" }}
	<main>
		{{ partial "header.html" }}
		<div class="pt-16"></div>
		<article class="px-6 bg-gray-50">
            <h1 class="text-4xl">One-Off: {{ .Title }}</h1>
            <p class="pb-4"><a href="/#Odds" class=""><< Back to One-Offs</a></p>
            <p>{{ .Content }}</p>
                {{ with .Page.Resources.ByType "image" }}
                <div class="flex flex-wrap pt-4">
                    {{ range . }}
                        <img src="{{ .RelPermalink }}" class="flex my-4 mr-8 max-h-60">
                    {{ end }}
                </div>
                {{ end }}
		</article>
	</main>
{{ partial "footer.html" . }}
{{ end }}
