{{ if isset .Params "tags" }}
<article class="" data-role="small-card" id = {{ .Title }} data-tags="{{delimit .Params.tags " " }}">
{{ else }}
<article class="" data-role="small-card id = {{ .Title }} ">
{{ end }}
	<div class="relative h-48 transition duration-300 transform border-2 border-blue-100 rounded-lg bg-blue-50 w-36 drop-shadow-xl justify-items-center hover:scale-105">
        <a href="{{ .RelPermalink }}" class="z-30 clickable-link-box"><span></span></a>
        <div class="w-32 h-32">
            {{ if isset .Params "slug_image" }}
                {{ $img := (.Page.Resources.GetMatch .Params.slug_image) }}
                <img src="{{ $img.RelPermalink }}" alt="" class="object-cover w-full h-full border-2 border-gray-400 rounded-lg">
            {{ else }}
                <img src="/svg/notfound.svg" class="object-cover w-full h-full border-2 border-gray-400 rounded-lg">
             {{ end }}
        </div>
        <div class= "flex h-12">
            <h1 class="m-auto text-lg text-center overflow-clip "><a href="{{ .Permalink }}" class="no-style-link">{{ .Title }}</a></h1>
        </div>
    </div>
</article>
