<div class= "w-full p-1 m-1 project-frame md:w-25-1">
    <a href="{{ .RelPermalink }}"><span class="z-10 clickable-link-box"></span></a>
    <div class="w-auto h-48">
        {{ if isset .Params "slug_image" }}
            {{ $img := (.Page.Resources.GetMatch .Params.slug_image) }}
            <img src="{{ $img.RelPermalink }}" alt="" class="object-cover w-full h-full border-2 border-gray-400 rounded-lg">
        {{ else }}
            <img src="/svg/notfound.svg" class= "w-full h-full border-2 border-gray-400 rounded-lg ">
        {{ end }}
    </div>
    <h2 class="project-title">{{ .Title }}</h2>
    <div class="h-32">
        <p class="h-full px-4 overflow-hidden text-left">{{ .Params.slug }}</p>
    </div>
</div>