{{ define "main" }}
	<main>
		{{ partial "header.html" }}
		<div class="w-full bg-green-800 bg-opacity-10">
			<div class="pt-16"></div>
			<article class="w-full px-8 pt-4 pb-4 m-auto md:w-11/12 bg-gray-50">
				<h1 class="pb-2 text-4xl">Project: {{ .Title }}</h1>
				{{ with .Params.tags }}
				<div class="flex flex-row text-sm">
						Tags: 
						{{ range . }}
						<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="px-1">{{ . }}</a>
						{{ end }}
				</div>
				{{ end }}
				<hr class="py-2">
				<div>
					{{ .Content }}
				</div>
				{{ with .Site.DisqusShortname }}
				<div>
					{{ template "_internal/disqus.html" . }}
				</div>
				{{ end }}
			</article>
		</div>
	</main>
{{ partial "footer.html" . }}
{{ end }}
