#spreadsheet > thead {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}

#spreadsheet > th {
    --tw-bg-opacity: 1;
    border-width: 2px;
    border-color: rgba(0, 255, 255, var(--tw-border-opacity));
}