<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<!-- <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}"> -->
	{{ $css := resources.Get "css/style.css" }}
	{{ $style := $css | resources.PostCSS }}
	<link rel ="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	{{ template "_internal/twitter_cards.html" . }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" />	
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

	{{ template "_internal/google_analytics.html" . }}

	<link rel="icon" href="/favicon.ico?v=2"> 
	<!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
	<script defer src="/ps/pyscript.js"></script>
</head>
<body>
	{{ block "main" . }}{{ end }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
	<script>
		lightbox.option({
			'fadeDuration': 200,
			'resizeDuration': 200
		})
	</script>
</body>
</html>
