{{ define "main" }}
{{ partial "header.html" }}
<div class="pt-16"></div>
	<main class="px-4">
		{{ if or .Title .Content }}
		<div class="p-2">
			{{ with .Title }}<h1 class="pb-2 text-4xl">{{ . }}</h1>{{ end }}
			{{ with .Content }}<div class="">{{ . }}</div>{{ end }}
		</div>
		{{ end }}
		<div class="flex flex-row flex-wrap px-8">
			{{ range .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
			<!-- {{ partial "pagination.html" . }} -->
		</div>
	</main>
{{ partial "footer.html" . }}
{{ end }}
