@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
    @apply text-white bg-blue-900;
}

.secondary {
    @apply text-white bg-blue-700;
}

.menu-item-blue {
    @apply px-4 py-2 mr-8 rounded-md first:ml-8;
    @apply text-blue-200 bg-blue-900;
    @apply hover:text-blue-50 hover:bg-blue-800;
}

.menu-item-green {
    @apply w-auto h-auto px-4 py-1 mx-1;
    @apply transition duration-300 transform;
    @apply bg-green-700 hover:bg-green-600;
    @apply border-2 border-green-700 hover:border-green-500;
    @apply hover:scale-105 rounded-3xl hover:rounded-xl;
    @apply text-lg text-green-200 hover:text-green-50;
    @apply shadow-none hover:shadow-md;
    @apply relative;
}

.clickable-link-box {
    @apply absolute top-0 left-0 w-full h-full;
}

.project-frame {
    @apply relative;
    @apply transition duration-300 transform;
    @apply bg-gray-100 border-2 border-gray-300;
    @apply shadow-none cursor-pointer hover:bg-white hover:border-gray-400 hover:scale-105;
    @apply rounded-3xl hover:shadow-md;
}

.more-blog-posts {
    @apply relative;
    @apply transition duration-300 transform;
    @apply bg-gray-100 border-2 border-gray-300;
    @apply shadow-none cursor-pointer hover:bg-white hover:border-gray-400 hover:scale-105;
    @apply rounded-3xl hover:shadow-md;
}

.project-image {
    @apply object-cover w-full border rounded-t-3xl;
}

.project-title {
    @apply pt-2 pl-4 text-xl font-semibold text-center text-gray-800;
}

.project-text {
    @apply p-4 overflow-hidden text-left overflow-ellipsis h-1/2;
}

tbody tr:nth-child(2n-1){
    @apply bg-gray-200;
}

.relative-anchor::before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 5rem;
    margin-top: -5rem;
}

html {
    scroll-behavior: smooth;
}

.small-filter-button {
    @apply p-2 px-4 transform bg-gray-100 border-2 border-gray-200 rounded-xl hover:scale-105;
}

a:not(.no-style-link){
    @apply text-green-500 underline;
}

.post-p {
    @apply py-3 text-justify;
}

.code{
    @apply inline px-2 font-mono text-sm bg-gray-300;
}

pre code .code {
    @apply block p-4 overflow-x-auto text-gray-100 bg-black rounded;
}

.post-h1 {

}

.post-h2 {
    @apply pt-4 text-3xl;
}

.post-h3 {
    @apply pt-3 text-2xl;
}

.post-h4 {
    @apply pt-3 text-xl;
}

.post-ul {
    @apply pl-8 text-justify list-disc list-inside;
}

.post-ol {
    @apply pl-8 list-decimal list-inside;
}

.post-img {
    @apply self-center mx-auto border-2 border-gray-400;
}

.post-img-caption {
    @apply w-auto m-auto italic text-center;
}

.post-blockquote {
    @apply py-4 pl-4 pr-8 border-l-8 border-green-200 bg-green-50;
}

.code-title {
    @apply table-cell py-1 font-semibold leading-tight text-center text-white w-36 rounded-t-xl;
    background-color: #272822;
}