.cell {
    width: 1;
    height: 1
}

.path{
    background: blue
}

.active {
    background: gold
}

.cell:focus {
    background: green;
}

.maprow {
    height: 1
}

.map {
    height: 2fr
}

.infopanel{
    background: purple;
    height: 1fr
}

#cellpanel {
    background: gray;
    height: 1fr
}