{{ define "main" }}
    {{ partial "header.html" . }}
    <main class="pt-16">
        <div class="h-auto px-12 bg-gray-50">
            <div class="my-8">
                <h1 class="text-3xl relative-anchor">Who am I</h1>
                <p class="pt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero neque quod commodi eius, maiores libero voluptates delectus voluptatibus repellendus at molestiae ea pariatur recusandae. Soluta, id. Voluptates delectus accusantium inventore.</p>
                <p class="pt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ipsum saepe, dolores consequatur culpa ab distinctio sapiente explicabo blanditiis aliquid delectus cupiditate mollitia magni odit eveniet, dolore placeat laborum consectetur.</p>
            </div>
            <!-- CV -->
            <div class="my-8 space-y-2" id="CV">
                <h1 class="text-3xl relative-anchor">Work</h1>
                <table class="w-full text-left table-fixed">
                    <thead class='text-lg align-top'>
                        <tr>
                            <th class="w-2/6">Role<p class="pb-2 text-base italic font-normal leading-none">Company<p></p></th>
                            <th class="w-2/3">Description</th>
                            <th class="w-1/6">Dates</th>
                        </tr>
                    </thead>
                    <tbody class="align-top">
                        <tr>
                            <td class="py-2 pr-6">Exhibit Engineer<br><span class="text-base italic font-normal">Museum of Science and Industry, Chicago</span></td>
                            <td class="py-2 pr-6 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non justo ac neque pharetra ultrices non ullamcorper nulla.</td>
                            <td class="py-2">2019-Present</td>
                        </tr>
                        <tr>
                            <td class="py-2">Electronics Consultant<br><span class="text-base italic font-normal">Freelance</span></td>
                            <td class="py-2 pr-6 text-justify">Praesent neque nibh, semper nec rutrum et, volutpat sed justo. Donec mollis nulla purus, ac lacinia ante consectetur vel.</td>
                            <td class="py-2">2011-Present</td>
                        </tr>
                        <tr>
                            <td class="py-2 pr-6">Lighting and Video Supervisor<br><span class="text-base italic font-normal">Chicago Shakespeare Theater</span></td>
                            <td class="py-2 pr-6 text-justify">Suspendisse feugiat lectus ante, et blandit nisl maximus non. Suspendisse et felis gravida felis posuere scelerisque.</td>
                            <td class="py-2">2016-2019</td>
                        </tr>
                        <tr>
                            <td class="py-2 pr-6">Master Electrician<br><span class="text-base italic font-normal">Lookingglass Theatre Company</span></td>
                            <td class="py-2 pr-6 text-justify">Nunc porta dolor id sodales commodo. Integer id vulputate nunc. Mauris at malesuada metus, et sodales dui. Maecenas dignissim blandit nisl pretium pulvinar. Maecenas placerat nec purus ac cursus. Suspendisse efficitur urna sodales maximus auctor. Phasellus ac congue massa. Suspendisse condimentum fermentum tempor. Nulla varius, turpis nec pellentesque lacinia, ipsum risus iaculis dui. </td>
                            <td class="py-2">2014-2016</td>
                        </tr>
                        <tr>
                            <td class="py-2">Assistant Master Electrician<br><span class="text-base italic font-normal">Lookingglass Theatre Company</span></td>
                            <td class="py-2 pr-6 text-justify">Praesent neque nibh, semper nec rutrum et, volutpat sed justo. Donec mollis nulla purus, ac lacinia ante consectetur vel.</td>
                            <td class="py-2">2012-2014</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- SKILLS -->
            <div class="my-8 space-y-2" id="Skills">
                <h1 class="text-3xl relative-anchor">Skills</h1>
                <h2 class="text-lg font-bold">Digital</h2>
                <div class="pb-6 pl-6">
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Sint laborum do esse Lorem nulla non amet officia esse dolore excepteur reprehenderit.</p>
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Ad qui occaecat adipisicing eiusmod voluptate mollit ex elit quis sint amet veniam sunt nisi.</p>
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Culpa anim quis in Lorem est.</p>
                </div>
                <h2 class="text-lg font-bold">Physical</h2>
                <div class="pb-6 pl-6">
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Dolore id consectetur culpa commodo esse laborum laboris reprehenderit amet deserunt veniam.</p>
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Magna do consectetur eiusmod adipisicing et et.</p>
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Minim voluptate commodo in duis non occaecat exercitation incididunt excepteur eu excepteur.</p>
                </div>
                <h2 class="text-lg font-bold">Communication</h2>
                <div class="pb-6 pl-6">
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Qui adipisicing cupidatat ipsum eu magna anim fugiat.</p>
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Amet dolor enim veniam cillum officia ut proident quis.</p>
                    <h3 class="font-semibold">Subheading</h3>
                    <p class="pl-6">Ea amet tempor officia veniam irure consequat.</p>
                </div>
            </div>
            <div class="my-8 space-y-2" id="Skills">
                <h1 class="text-3xl relative-anchor">Certifications</h1>
                <div class="pl-4">
                    <p>Cupidatat enim excepteur mollit veniam qui eiusmod officia nulla elit consequat cupidatat commodo.</p>
                    <p>Culpa fugiat consectetur in tempor nulla.</p>
                    <p>Excepteur ea Lorem do mollit occaecat reprehenderit aliquip.</p>
                </div>
            </div>
        </div>

    </main>
    {{ partial "footer.html" }}
{{ end }}