{{ define "main" }}
    {{ partial "header.html" . }}
	<main>
    <!-- Content -->
    <div class="h-auto px-12 pt-16 bg-gray-50">
        <div class="space-y-2" id="Introduction">
            <h1 class="text-3xl relative-anchor">Introduction</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non justo ac neque pharetra ultrices non ullamcorper nulla. Nunc porta dolor id sodales commodo. Integer id vulputate nunc. Mauris at malesuada metus, et sodales dui. Maecenas dignissim blandit nisl pretium pulvinar. Maecenas placerat nec purus ac cursus. Suspendisse efficitur urna sodales maximus auctor. Phasellus ac congue massa. Suspendisse condimentum fermentum tempor. Nulla varius, turpis nec pellentesque lacinia, ipsum risus iaculis dui, sodales sagittis ipsum lacus nec est. Etiam erat dui, efficitur non tristique non, tempus eu tellus. Praesent neque nibh, semper nec rutrum et, volutpat sed justo. Donec mollis nulla purus, ac lacinia ante consectetur vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
            <p>Suspendisse feugiat lectus ante, et blandit nisl maximus non. Suspendisse et felis gravida felis posuere scelerisque. Praesent facilisis in dolor ac rhoncus. Donec posuere arcu quis lectus sollicitudin euismod. Nam gravida, lectus vitae viverra ultricies, augue turpis interdum nibh, id venenatis mauris libero tristique enim. Etiam efficitur dolor quis urna luctus, at varius diam fermentum. Sed vel consequat erat, in iaculis quam. In sollicitudin urna nunc, sit amet ullamcorper dui feugiat eu. Suspendisse potenti. Vivamus mollis euismod nisi iaculis mattis. Mauris in lacus in urna iaculis porta at at mauris. Integer placerat dictum nulla sollicitudin rutrum. Curabitur sed varius lorem. Nulla in velit posuere leo feugiat porta.</p>
        </div>
        <!-- PROJECTS -->
        <div class="my-8 space-y-2" id="Projects">
            <h1 class="text-3xl relative-anchor">Projects</h1>
            <div class="grid grid-cols-5 gap-2 my-4 h-96" id="Project list">
                <div class= "project-frame">
                    <span class="z-10 clickable-link-box"></span>
                    <img class = "project-image h-1/3" src="./images/PCB-hand.png">
                    <h2 class="project-title">Demilight PCBs</h2>
                    <p class="p-4 overflow-hidden text-left overflow-ellipsis h-1/2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non justo ac neque pharetra ultrices non ullamcorper nulla. Nunc porta dolor</p>
                </div>
                <div class= "project-frame">
                    <span class="z-10 clickable-link-box"></span>
                    <img class = "project-image h-1/3" src="/images/loradmx.jpg">
                    <h2 class="project-title">Demilight PCBs</h2>
                    <p class="pl-4 overflow-hidden text-left h-1/2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non justo ac neque pharetra ultrices non ullamcorper nulla. Nunc porta dolor</p>
                </div>
                <div class= "project-frame">
                    <span class="z-10 clickable-link-box"></span>
                    <img class = "project-image h-1/3" src="/images/gooddogs.jpg">
                    <h2 class="project-title">Demilight PCBs</h2>
                    <p class="pl-4 overflow-hidden text-left h-1/2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non justo ac neque pharetra ultrices non ullamcorper nulla. Nunc porta dolor</p>
                </div>  
                <div class= "project-frame">
                    <span class="z-10 clickable-link-box"></span>
                    <img class = "project-image h-1/3" src="/images/workshop.jpg">
                    <h2 class="project-title">Demilight PCBs</h2>
                    <p class="pl-4 overflow-hidden text-left h-1/2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non justo ac neque pharetra ultrices non ullamcorper nulla. Nunc porta dolor</p>
                </div>
                <div class= "grid items-center grid-cols-1 project-frame">
                    <a href="/project" class="z-10 clickable-link-box"><span></span></a>
                    <div class="align-center">
                        <h2 class="text-2xl font-bold text-center text-gray-800 ">More Projects</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" class="block w-24 h-24 m-auto text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                          </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- ODDS AND ENDS-->
        <div class="my-8 space-y-2" id="Odds">
            <h1 class="text-3xl relative-anchor">One Offs</h1>
            <div class="flex flex-wrap space-x-4">
                {{ range first 5 (where .Site.Pages "Section" "small" ) }}
                    {{ .Render "summary"}}
                {{ end }}
            </div>
        </div>
        
    </div>

        <!--{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }} -->
	</main>
    <!-- {{ partial "sidebar.html" . }} -->
    {{ partial "footer.html" }}
{{ end }}
