<div class="border-2 rounded-lg">
  <div class="px-2 py-2 bg-gray-200">
    <h2 style="font-size: 1.4rem; line-height: 1.6rem" class="px-1 py-1 mb-2 rounded-md bg-gray-50">{{ .Get "title" }}</h2>
    <div class="flex flex-row w-auto space-x-8">
        <div class="p-1 rounded-md bg-gray-50"><span class="font-bold">Date:</span> {{ .Get "date" }}</div>
        <div class="p-1 rounded-md bg-gray-50"><span class="font-bold">Room:</span> {{ .Get "room" }}</div>
        <div class="p-1 rounded-md bg-gray-50"><span class="font-bold"><a href='{{ .Get "url" }}'>Link <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-4 h-4 mh-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
          </a></span></div>
    </div>
  </div>
  <div class="px-2 bg-gray-100 rounded-lg">{{ .Inner}}</div>
</div>