{{ define "main" }}
	<main>
		{{ partial "header.html" }}
		<div class="pt-16"></div>
		<article class="px-6 bg-gray-50">
            <p class="pb-2"><a href="/#Odds" class=""><< Back to One-Offs</a></p>
            <h1 class="text-4xl">One-Off: {{ .Title }}</h1>
            <p>Tags:
                {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}                
            </p>
            <p class="pt-4">{{ .Content }}</p>
                {{ if gt (len (.Page.Resources.ByType "image")) 0 }}
                        
                    <div class="mt-6 bg-gray-100">

                        <div class="pt-2 ml-2">
                            <h2 class="text-2xl">Images</h2>
                            <span class="text-sm italic">Click any image to expand</span>
                        </div>
                        {{ with .Page.Resources.ByType "image" }}
                        <div class="flex flex-wrap pt-2 ml-2 justify-evenly">
                            {{ range . }}
                                <a href="{{ .RelPermalink }}" data-lightbox="image-set"><img src="{{ .RelPermalink }}" class="flex mb-4 mr-8 border-4 border-gray-400 rounded-lg max-h-60"></a>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                {{ end}}
		</article>
	</main>
{{ partial "footer.html" . }}
{{ end }}
